- if !@page.title.empty?
  %input#partial-title{:type => "hidden", :value => "#{@page.title}"}
  <script>document.title = $('#partial-title').val()</script>
#event-display-one
  .event-third
    .event-content-left.about-panel
      - identifier = "instagram-panel-heading"
      - text = @contents[identifier].text
      %h2{:class => identifier}= text
      - @pictures.each do |pic|
        =image_tag(pic)
  .event-third
    .event-content-middle.about-panel
      - identifier = "main-info-panel-heading"
      - text = @contents[identifier].text
      %h2{:class => identifier}= text
      - identifier = "main-info-panel-text"
      - text = @contents[identifier].text
      %p{:class => identifier}= text
  .event-third
    .event-content-right.about-panel
      - identifier = "contact-info-panel-heading"
      - text = @contents[identifier].text
      %h2{:class => identifier}= text
      .about-contact
        - identifier = "contact-info-content-heading"
        - text = @contents[identifier].text
        %h4{:class => identifier}= text
        - identifier = "contact-info-content-main-email"
        - text = @contents[identifier].text
        %a{:href => "mailto:#{text}", :target => "new"} <h5>#{text}</h5>
      .about-contact
        - identifier = "social-info-content-heading"
        - text = @contents[identifier].text
        %h4{:class => identifier}= text
        %a{:href => "https://www.facebook.com/partybassicsusa", :target => "new"} <h5>facebook.com/partybassicsusa</h5>
        %a{:href => "https://www.facebook.com/groups/partybassics/", :target => "new"} <h5>facebook.com/groups/partybassics</h5>
        %a{:href => "https://twitter.com/partybassics", :target => "new"} <h5>@partybassics</h5>
        %a{:href => "//instagram.com/partybassics", :target => "new"} <h5>instagram.com/partybassics</h5>
        %a{:href => "//www.eventbrite.com/o/party-bassics-5693583035", :target => "new"} <h5>on eventbrite.com</h5>
