.row.site-container-container.full-screen
  .col-xs-12.site-container.full-screen
    =render partial: 'heads_backdrop'

    #content-container.full-screen
      .content-panel.content-heading
        .logo
          - identifier = "logo-image"
          - image = @graphics[identifier].image
          %div{:class => identifier, :style => "background-image: url(#{asset_path(image)})"}
        - identifier = "heading-tagline"
        - text = @contents[identifier].text
        %h1{:class => identifier}= text
        .content-heading-controls
          .left-half
            - identifier = "three-column-button"
            - text = @contents[identifier].text
            %button{:class => identifier}= text
          .right-half
            - identifier = "panorama-column-button"
            - text = @contents[identifier].text
            %button{:class => identifier}= text

      #content-body

      .content-panel.content-footer
        .row
          .col-xs-4
            - identifier = "social-media-prompt"
            - text = @contents[identifier].text
            %small{:class => identifier}= text
            <div class="fb-like" data-layout="button" data-share="true" data-width="150" data-show-faces="false" data-href="https://www.facebook.com/partybassicsusa"></div>
          .col-xs-4
            - identifier = "facebook-group-prompt"
            - text = @contents[identifier].text
            %small{:class => identifier}= text
            <div class="fb-like" data-layout="button" data-share="true" data-width="150" data-show-faces="false" data-href="https://www.facebook.com/groups/partybassics/"></div>
          .col-xs-4
            - identifier = "like-website-prompt"
            - text = @contents[identifier].text
            %small{:class => identifier}= text
            <div class="fb-like" data-layout="button" data-share="true" data-width="150" data-show-faces="false" data-href="//partybassics.com"></div>
            - identifier = "admin-link"
            - text = @contents[identifier].text
            %small{:class => identifier} <a href="users/sign_in" target="new">#{text}</a>
        .row
          .col-xs-3
          .col-xs-3
            - identifier = "welcome-page-email-list-subscribe-link"
            - text = @contents[identifier].text
            %small.creator{:class => identifier}= text.html_safe
          .col-xs-3
            - identifier = "website-author-link"
            - text = @contents[identifier].text
            %small.creator{:class => identifier}= text.html_safe
          .col-xs-3

