.row.full-screen
  .col-xs-12.site-container.full-screen
    #folds-container.full-screen
      - folds = ["L", "C", "R"]
      - f_count = 1
      - folds.each do |f|
        .half-screen(style="z-index: -#{f_count}" class="fold#{f}")
          - trypts = ["L", "C", "R"]
          - t_count = (folds.length + 1) * f_count
          - trypts.each do |t|
            .third-screen(class="panel#{t}" style="z-index: -#{t_count}")
              =image_tag("face-panel-blue.png", class: "trypt#{t_count} full-screen")
              =image_tag("face-panel-bright.png", class: "trypt-bright#{t_count} full-screen")
              - t_count += 1
        - f_count += 1

    #content-container.full-screen
      .content-panel.content-heading
        .logo
          .logo-image{:style => "background-image: url(#{asset_path('logo-dark.png')})"}
          //=image_tag("logo-dark.png")
        %h1 Nashville's Premier Event Promotions
        .content-heading-controls
          .left-half
            %button.three-column-button About / Contact
          .right-half
            %button.panorama-column-button Events / Tix

      #content-body

      .content-panel.content-footer
        .row
          .col-xs-4
            %small Follow Us on Social Media:
            <div class="fb-like" data-layout="button" data-share="true" data-width="150" data-show-faces="false" data-href="https://www.facebook.com/partybassicsusa"></div>
          .col-xs-4
            %small Join FB Group:
            <div class="fb-like" data-layout="button" data-share="true" data-width="150" data-show-faces="false" data-href="https://www.facebook.com/groups/partybassics/"></div>
          .col-xs-4
            %small Like this Website:
            <div class="fb-like" data-layout="button" data-share="true" data-width="150" data-show-faces="false" data-href="http://partybassics.andrewwilliammoore.com"></div>
            %small.admin-link <a href="users/sign_in" target="new">Admin</a>
        .row
          .col-xs-12
            %small.creator Website by <a href="http://andrewwilliammoore.com" target="new">Drew Moore</a>

