%h2= @event.title
%h4=@event.venue
%h5=event_date(@event.date).strftime("%A, %B %d %Y")

- if !@event.time.empty?
  %h5 #{@event.city}, #{event_time(@event.time)}

- if @event.price
  - if in_future?(@event) and !@event.price.empty?
    - identifier = "event-display-ticket-link"
    - text = @contents[identifier].text
    %a{:href => "/charges/new/#{@event.id}", :target => "new", :class => identifier} <h5>#{text}</h5>

- if !@event.facebook_id.empty?
  - identifier = "event-display-facebook-link"
  - text = @contents[identifier].text
  %a{:href => "http://facebook.com/events/#{@event.facebook_id}", :target => "new", :class => identifier}= text

