- if !@page.title.empty?
  %input#partial-title{:type => "hidden", :value => "#{@page.title}"}
  <script>document.title = $('#partial-title').val()</script>
#event-display-one
  .event-third
    .event-poster-frame
      - if File.exists? @event.flyer.versions[:portrait].path
        .event-poster.portrait{:style => "background-image: url(#{asset_path(@event.flyer.versions[:portrait])})"}
      - elsif File.exists? @event.flyer.versions[:landscape].path
        .event-poster.landscape{:style => "background-image: url(#{asset_path(@event.flyer.versions[:landscape])})"}
  .event-third
    .event-content-middle

      =render "events/display_content"

      - if !@event.street.empty? and !@event.zip.empty?
        .event-map-container
          <iframe frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA9PK12yeQsAsR4Mt40YYq-hAKCI_Ulinw&q=#{google_map_query(@event.street, @event.zip)}"></iframe>

  .event-third
    .event-content-right
      %p= @event.description
