.row
  .col-xs-3
  .col-xs-6.admin-text
    =form_for @event, html: { multipart: true } do |f|
      %fieldset
        %legend Change an Event
        = if @event.errors.any?
          .row.form-row
            .col-xs-12
              %h2 Errors:
              %ul
                = @event.errors.full_messages.each do |m|
                  %li=m
        .row.form-row
          .col-xs-12.event-edit-flyer
            =image_tag(asset_path(@event.flyer))
        .row.form-row
          .col-xs-4
            =f.label :title
          .col-xs-4
            =f.text_field :title
          .col-xs-4
        .row.form-row
          .col-xs-4
            =f.label :facebook_id do
              <label for="event_facebook_id">Facebook Event ID</label>
          .col-xs-4
            =f.text_field :facebook_id
            .row
              .col-xs-12
            <small>Ex: "https://www.facebook.com/events/<small class="asterisk">1513721735555120</small>/?...."</small>
          .col-xs-4
            %button#facebook-event Get Info from Facebook
        .row.form-row
          .col-xs-4
            =f.label :date
          .col-xs-8
            %select#event_date_1i{:name => "event[date(1i)]"}
              - start_year = Date.today.to_s.split("-")[0]
              - end_year = (start_year.to_i + 10).to_s
              - year_range = (start_year..end_year)
              - year_range.each do |y|
                - if y === @event.date.split("-")[0]
                  %option{:value => y.to_s, :selected => true} #{y}
                - else
                  %option{:value => y.to_s} #{y}

            %select#event_date_2i{:name => "event[date(2i)]"}
              - months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
              - nums = (1..12)
              - nums.each do |n|
                - if n === @event.date.split("-")[1].to_i
                  %option{:value => n.to_s, :selected => true} #{months[n - 1]}
                - else
                  %option{:value => n.to_s} #{months[n - 1]}

            %select#event_date_3i{:name => "event[date(3i)]"}
              - nums = (1..31)
              - nums.each do |n|
                - if n === @event.date.split("-")[2].to_i
                  %option{:value => n.to_s, :selected => true} #{n}
                - else
                  %option{:value => n.to_s} #{n}

        .row.form-row
          .col-xs-4
            =f.label :time
          .col-xs-4
            %input#event_time{:name => "event[time]", :type => "time", :value => @event.time}
          .col-xs-4
        .row.form-row
          .col-xs-4
            =f.label :description
          .col-xs-4
            =f.text_area :description
          .col-xs-4
        .row.form-row
          .col-xs-4
            =f.label :venue
          .col-xs-4
            =f.text_field :venue
          .col-xs-4
        .row.form-row
          .col-xs-4
            =f.label :city
          .col-xs-4
            =f.text_field :city
          .col-xs-4
        .row.form-row
          .col-xs-4
            =f.label :street do
              Street Address
          .col-xs-4
            =f.text_field :street
          .col-xs-4
        .row.form-row
          .col-xs-4
            =f.label :zip do
              Zip Code
          .col-xs-4
            =f.text_field :zip
          .col-xs-4
        .row.form-row
          .col-xs-4
            =f.label :flyer
          .col-xs-4
            =f.file_field :flyer
          .col-xs-4
        .row.form-row
          .col-xs-4
          .col-xs-4
            =f.submit "Change the Event, yo!", :class => "submit-custom"
          .col-xs-4

        .row
          .col-xs-12
            %label.required-label
              %small.asterisk * required


  .col-xs-3
