%h1= @event.title

%div.email-two-panel
  .inline-block-container.email-left
    %p= @text

  .inline-block-container.email-right
    %h4=@event.venue
    %h5=event_date(@event.date).strftime("%A, %B %d %Y")
    - if !@event.time.empty? and !@event.city.empty?
      %h5 #{@event.city}, #{event_time(@event.time)}

    - if @event.price
      - if in_future?(@event) and !@event.price.empty?
        - identifier = "email-event-display-ticket-link"
        - text = @contents[identifier].text
        %a{:href => "https://partybassics.com/charges/new/#{@event.id}", :target => "new", :class => identifier} <h5>#{text}</h5>

    - if !@event.facebook_id.empty?
      - identifier = "email-event-display-facebook-link"
      - text = @contents[identifier].text
      %a{:href => "https://facebook.com/events/#{@event.facebook_id}", :target => "new", :class => identifier} <h5>#{text}</h5>

%div.email-two-panel
  .inline-block-container.email-left
    %p= simple_format(@event.description)

  .inline-block-container.email-right
    =image_tag(attachments["flyer.jpg"].url, alt: "")

