.row
  .col-xs-3
  .col-xs-6.admin-text
    %h1 Your Ticket Confirmation
    %h4 Event: #{@event.title}
    %h4 Venue: #{@event.venue}
    %h4 Date: #{event_date(@event.date).strftime("%A, %B %d")}
    %h4 Number of Tickets: #{@quantity} @ #{number_to_currency(@event.price.to_f)}
    %h4 Amount Paid: #{number_to_currency(@amount.to_f / 100.00)}
    %h4 Card Ending in: #{@lastfour}
    %h4 Cardholder's Email: #{@email}
  .col-xs-3
