.row
  .col-xs-3
  .col-xs-6.admin-text.admin-top
    =form_tag charges_path do
      .row.form-row
        .col-xs-12.event-edit-flyer
          - identifier = "charges-new-main-heading"
          - text = @contents[identifier].text
          %h1{:class => "identifier"}= text
          =image_tag(flyer(@event, 'display'))
      .row.form-row
        .col-xs-12
          %h2#tickets-title= @event.title
          %h5= event_date(@event.date).strftime("%a, %b %d")

      .row.form-row
        .col-xs-4
          - identifier = "charges-new-price-label"
          - text = @contents[identifier].text
          %label{:class => "identifier"}= text
        .col-xs-4
          %label#tickets-price= price(@event.price)
        .col-xs-4
      .row.form-row
        .col-xs-4
          - identifier = "charges-new-quantity-label"
          - text = @contents[identifier].text
          %label{:class => "identifier"}= text
        .col-xs-4
          %select#tickets-quantity
            - ticket_diff = @event.ticket_limit.to_i - @event.tickets_sold.to_i
            - if ticket_diff >= 10
              - range = (1..10)
            - else
              - range = (1..ticket_diff)
            - range.each do |num|
              %option{:value => num} #{num}
        .col-xs-4
      .row.form-row
        .col-xs-4
        .col-xs-4
          - identifier = "charges-new-purchase-button"
          - text = @contents[identifier].text
          %button#buy-tickets-button{ :data => { :key => @key, :event_id  => @event.id }, :class => identifier }= text
        .col-xs-4
  .col-xs-3


